@import '../../scss/_variables';
@import '../../scss/_components';
@import '../../scss/_mixins';
@import '../../scss/_utilities';

.portfolio-section {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.project-filter {
    @include flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 4rem 0 2rem;
    .project-filter-item {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: $white-color;
        color: $text-color900;
        font-weight: $fw-extraBold;
        transition: $transition-all;
        margin: 0.5rem;
        cursor: pointer;
        &:hover {
            background-color: $accent-color;
            color: $text-color100;
        }
        @include media ('xl-screen') {
            padding: 1rem 2rem;
            border-radius: 0.85rem;
        }
    }
    .filter-active {
        background-color: $accent-color;
        color: $text-color100;
    }
}

.project-portfolio {
    @include flex-center;
    flex-wrap: wrap;
    .project-card {
        width: 270px;
        flex-direction: column;
        margin: 2rem;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: $white-color;
        color: $text-color900;
        cursor: pointer;
        transition: $transition-all;
        &:hover {
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        }
        @include media ('xl-screen') {
            width: 470px;
            padding: 1.25rem;
            border-radius: 0.75rem;
        }
        @media screen and (max-width: 300px) {
            width: 100%;
            margin: 1rem;
        }
    }
}

.project-image-container {
    width: 100%;
    height: 230px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
    }
    @include media ('xl-screen') {
        height: 350px;
    }
}

.project-hover-overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    opacity: 0;
    transition: $transition-all;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        color: $text-color100;
        font-family: $font-base;
        font-weight: $fw-extraBold;
        margin: 1rem;
        cursor: pointer;
        transition: $transition-all;
        svg {
            width: 50%;
            height: 50%;
            color: $text-color100;
        }
    }
}

.project-content {
    width: 100%;
    padding: 0.5rem;
    position: relative;
    flex-direction: column;
    h4 {
        margin-top: 1rem;
        line-height: $leading-base;
        @include media ('xl-screen') {
            margin-top: 3rem;
        }
    }
    .project-tag {
        position: absolute;
        top: -25px;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        background-color: $white-color;
    }
}
