@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
    --font-base: 'DM Sans', sans-serif;

    --clr-primary500: #edf2f8;  /* Base */
    --clr-accent500: #313bac;  /* Base */

    --clr-black: #030303;
    --clr-gray300: #e4e4e4;
    --clr-gray400: #cbcbcb;
    --clr-gray500: #6b7688;
    --clr-brown500: #46364a;
    --clr-white: #ffffff;
    

}
