// _utilities.scss
@import 'variables';
@import 'mixins';
@import './components';

// Flex Utilities
.flex {
    &-center {
        @include flex-center;
    }

    &-start {
        @include flex-start;
    }

    &-end {
        @include flex-end;
    }

    &-between {
        @include flex-between;
    }

    &-around {
        @include flex-around;
    }

    &-evenly {
        @include flex-evenly;
    }
}

// Background Color Utilities
.bg {
    &-white {
        background-color: $white-color;
    }

    &-primary {
        background-color: $primary-color;
    }

    &-accent {
        background-color: $accent-color;
    }

    &-black {
        background-color: $black-color;
    }
}

// Font Weight Utilities
.fw {
    &-regular {
        font-weight: $fw-regular;
    }

    &-bold {
        font-weight: $fw-bold;
    }

    &-extraBold {
        font-weight: $fw-extraBold;
    }
}

// Text Color Utilities
.text {
    &-primary {
        color: $primary-color;
    }

    &-color {
        color: $text-color;
    }

    &-black {
        color: $text-color900;
    }

    &-white {
        color: $text-color100;
    }
}

// Margin Utilities
.m {
    &-0 {
        margin: 0;
    }
    &-1 {
        margin: 0.25rem;
    }
    &-2 {
        margin: 0.5rem;
    }
    &-3 {
        margin: 1rem;
    }
    &-4 {
        margin: 2rem;
    }
}

// Padding Utilities
.p {
    &-0 {
        padding: 0;
    }
    &-1 {
        padding: 0.25rem;
    }
    &-2 {
        padding: 0.5rem;
    }
    &-3 {
        padding: 1rem;
    }
    &-4 {
        padding: 2rem;
    }
}

// Text Size Utilities
.fs {
    &-sm {
        font-size: var(--fs-sm);
    }
    &-base {
        font-size: var(--fs-base);
    }
    &-md {
        font-size: var(--fs-md);
    }
    &-lg {
        font-size: var(--fs-lg);
    }
    &-xl {
        font-size: var(--fs-xl);
    }
    &-2xl {
        font-size: var(--fs-2xl);
    }
    &-3xl {
        font-size: var(--fs-3xl);
    }
    &-4xl {
        font-size: var(--fs-4xl);
    }
    &-6xl {
        font-size: var(--fs-6xl);
    }
}

// Line Height Utilities
.leading {
    &-base {
        line-height: var(--leading-base);
    }
}
